/* Robot .GIF from pinterest https://i.pinimg.com/originals/21/3c/c4/213cc4b2e994aa3a5687fd1dc1695853.gif */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #177ee6;
}

.container {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./Podi.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
 
}

.container > *{
  margin-left: 25rem;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #EAEFF4;
  background-color: #45484C;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover{
  filter: brightness(90%);
}

button:active{
  transform: scale(0.90);
}

button:disabled{
  cursor: default;
  filter: brightness(30%);
}

/* Media query: Tablet or amsaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button{
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
